$red: #f80759;
$blue: #12c2e9;
$black: #161616;

body {

  background-color: $black !important;
  font-family: 'Lato', sans-serif !important;

  .navbar {
    transition: all 0.4s ease-in;
  }

  .navbar-brand {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;

    @media (max-width: 767.98px) {
      font-size: 30px;
    }

    &:hover {
      color: #ffffff;
    }

    span {
      color: $red;
    }
  }

  .navbar-collapse {

    @media (max-width: 575.98px) {
      background: $black;
    }
  }

  .navbar-nav {

    @media (max-width: 991.98px) {
      background: $black;
    }

    a.nav-link {
      font-size: 16px;
      color: #ffffff;
      padding-right: 1rem !important;
      padding-left: 1rem !important;
      font-weight: 400;

      &:hover {
        color: $red;
      }
    }

    .active a {
      color: $red;
    }
  }

  .navbar-toggler-icon {

    .fas {
      color: #ffffff;
    }
  }

  .hero {
    background: url(../img/hero-bg.jpg) 65% center no-repeat;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .hero__title {

    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 1.25rem;

    @media (max-width: 767.98px) {
      font-size: 30px;
      margin-bottom: .6rem;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      margin-top: 2.25rem;
    }

    span {
      color: $blue;
      font-size: 35px;

      @media (max-width: 767.98px) {
        font-size: 25px;
      }
    }
  }

  .hero__subtitle {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 2rem;

    @media (max-width: 767.98px) {
      line-height: 20px;
      margin-bottom: 1.25rem;
    }
  }

  .hero__button {
    width: 200px;
    height: 50px;

    border: 1px solid $red;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

    @media (max-width: 767.98px) {
      width: 150px;
      height: 40px;
      font-size: 14px;
    }

    &:first-of-type {
      margin-right: 1.25rem;

      @media (max-width: 575.98px) {
        margin-bottom: 0.6rem;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        margin-bottom: 0.6rem;
      }

    }

    &:hover, &:active, &:first-of-type {
      background: rgba(209, 0, 59, 1);
      background: -moz-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: -webkit-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: -o-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: -ms-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: linear-gradient(to right, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1003b', endColorstr='#e6010c', GradientType=1);
      color: #ffffff;
    }
  }

  .about {
    padding: 80px 0 0 0;
    color: #ffffff;
    background: url("../img/bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    .about__subtitle {
      font-size: 18px;
      color: $blue;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 3.6rem 0 .6rem;
    }

    .about__title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;

      &:after {
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: #e50118;
        margin: 1.6rem 0 3.6rem 0;
      }
    }

    .about__text1 {
      line-height: 26px;
      font-size: 22px;
      margin-bottom: 2.6rem;
    }

    .about__text2 {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 2.6rem;
    }

    .about__link {
      font-size: 14px;
      font-weight: 700;
      color: $red;
      margin-bottom: 3.6rem;
    }

    .main-slider {

      margin-bottom: 1.25rem;
      width: 100%;

      @media (max-width: 991.98px) {
        margin-top: 1.25rem;
      }

      div {
        width: 100%;
        height: 400px;
        -webkit-background-size: cover;
        background-size: cover;
        position: relative;

        &:first-child {
          background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)), url("../img/main-slide01.jpg") center center no-repeat;
        }

        &:nth-child(2) {
          background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)), url("../img/main-slide02.jpg") center center no-repeat;
        }

        &:nth-child(3) {
          background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)), url("../img/main-slide03.jpg") center center no-repeat;
        }
      }
    }

    .sync-slider {
      margin-bottom: 1.25rem;
      width: 100%;

      .slick-track {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        div.slick-slide {
          height: 105px;
          max-width: 170px;
          width: 33%;
          -webkit-background-size: contain;
          background-size: contain;

          &:hover, &:focus {
            border: 2px solid $red;
          }

          &:first-child {
            margin-right: 0.6rem;
            background: url("../img/slide1.jpg") center center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
          }

          &:nth-child(2) {
            background: url("../img/slide2.jpg") center center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            margin-right: 0.6rem;
          }

          &:last-child {
            background: url("../img/slide3.jpg") center center no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
          }
        }
      }
    }
  }

  .trainers {
    background: url("../img/bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 9.3rem 0 6.7rem;

    .trainers__subtitle {
      font-size: 18px;
      color: $blue;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 0 0 0.6rem;
    }

    .trainers__title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: #ffffff;
      position: relative;
      margin-bottom: 5.3rem;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: #e50118;
        margin: 1.6rem 0;
        left: calc(50% - 40px);
      }
    }

    .trainers-block {

      @media (max-width: 575.98px) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }

      .trainer-container {
        perspective: 800px;
        height: 300px;
        width: 212px;

        @media (max-width: 767.98px) {
          margin-bottom: 0.6rem;
        }

        .trainer {
          height: 300px;
          width: 212px;
          position: relative;

          div {
            transform-style: preserve-3d;
            transition: 1s ease-in;
            transition-property: transform, background;
            height: 300px;
            width: 212px;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
          }

          .back {
            transform: rotateY(-180deg) translateZ(0);
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: center;

            p {

              &:first-child {
                color: #ffffff;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.05em;
                margin: 0;
              }

              &:last-child {
                font-size: 12px;
                letter-spacing: 0.05em;
                color: $blue;
                margin: 0 0 1.6rem 0;
              }
            }
          }

          &:hover {


            .front {
              border: 2px solid $red;
              transform: rotateY(-180deg);
            }

            .back {
              border: 2px solid $red;
              transform: rotateY(0deg)
            }
          }
        }
      }

      .trainer1 {

        .front {
          background: url("../img/trainerBW01.jpg") center center no-repeat;
        }

        .back {
          background: rgba(255, 252, 255, 0);
          background: -moz-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 252, 255, 0)), color-stop(65%, rgba(255, 252, 255, 0)), color-stop(100%, rgba(5, 5, 5, 0.95)));
          background: -webkit-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -o-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -ms-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: linear-gradient(to bottom, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%), url("../img/trainer01.jpg") center center no-repeat;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcff', endColorstr='#050505', GradientType=0);
        }
      }

      .trainer2 {

        .front {
          background: url("../img/trainerBW02.jpg") center center no-repeat;
        }

        .back {
          background: rgba(255, 252, 255, 0);
          background: -moz-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 252, 255, 0)), color-stop(65%, rgba(255, 252, 255, 0)), color-stop(100%, rgba(5, 5, 5, 0.95)));
          background: -webkit-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -o-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -ms-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: linear-gradient(to bottom, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%), url("../img/trainer02.jpg") center center no-repeat;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcff', endColorstr='#050505', GradientType=0);
        }
      }

      .trainer3 {

        .front {
          background: url("../img/trainerBW03.jpg") center center no-repeat;
        }

        .back {
          background: rgba(255, 252, 255, 0);
          background: -moz-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 252, 255, 0)), color-stop(65%, rgba(255, 252, 255, 0)), color-stop(100%, rgba(5, 5, 5, 0.95)));
          background: -webkit-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -o-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -ms-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: linear-gradient(to bottom, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%), url("../img/trainer03.jpg") center center no-repeat;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcff', endColorstr='#050505', GradientType=0);
        }
      }

      .trainer4 {

        .front {
          background: url("../img/trainerBW04.jpg") center center no-repeat;
        }

        .back {
          background: rgba(255, 252, 255, 0);
          background: -moz-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 252, 255, 0)), color-stop(65%, rgba(255, 252, 255, 0)), color-stop(100%, rgba(5, 5, 5, 0.95)));
          background: -webkit-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -o-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -ms-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: linear-gradient(to bottom, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%), url("../img/trainer04.jpg") center center no-repeat;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcff', endColorstr='#050505', GradientType=0);
        }
      }

      .trainer5 {

        .front {
          background: url("../img/trainerBW05.jpg") center center no-repeat;
        }

        .back {
          background: rgba(255, 252, 255, 0);
          background: -moz-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 252, 255, 0)), color-stop(65%, rgba(255, 252, 255, 0)), color-stop(100%, rgba(5, 5, 5, 0.95)));
          background: -webkit-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -o-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: -ms-linear-gradient(top, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%);
          background: linear-gradient(to bottom, rgba(255, 252, 255, 0) 0%, rgba(255, 252, 255, 0) 65%, rgba(5, 5, 5, 0.95) 100%), url("../img/trainer05.jpg") center center no-repeat;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcff', endColorstr='#050505', GradientType=0);
        }
      }
    }
  }

  .programs {
    padding-top: 3rem;

    .programs__subtitle {
      font-size: 18px;
      color: $blue;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 0 0 0.6rem;
    }

    .programs__title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: #ffffff;
      position: relative;
      margin-bottom: 5.3rem;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: #e50118;
        margin: 25px 0 0;
        left: calc(50% - 40px);
      }
    }

    .program__item {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    .program__icon {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 2px solid $red;
      height: 100px;
      width: 100px;
      margin-bottom: 3rem;
    }

    .program__small-title {
      color: #ffffff;
      font-size: 22px;
      letter-spacing: 0.05em;
      margin-bottom: 1.6rem;
    }

    .program__text {
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: #ffffff;
      margin-bottom: 1.6rem;
    }

    .program__button {
      width: 140px;
      height: 50px;

      border: 2px solid $red;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5.6rem;

      &:hover, &:active {
        background: rgba(209, 0, 59, 1);
        background: -moz-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
        background: -o-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
        background: -ms-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
        background: linear-gradient(to right, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1003b', endColorstr='#e6010c', GradientType=1);
        color: #ffffff;
      }
    }
  }

  .reviews {
    background: url("../img/reviews-bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 5.3rem;

    .reviews__subtitle {
      font-size: 18px;
      color: $blue;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 0 0 0.6rem;
    }

    .reviews__title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: #ffffff;
      position: relative;
      margin-bottom: 5.3rem;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: #e50118;
        margin: 1.6rem 0 0;
        left: calc(50% - 40px);
      }
    }

    .slick-slider {
      position: relative;
      margin-bottom: 9.6rem;

      .slick-dots {
        position: absolute;
        list-style: none;
        padding: 2.6rem 0 0;
        left: calc(50% - 37.5px);

        li {
          display: inline-block;
          margin: 0 0.3rem;

          &:hover {

            button {
              background: $blue;
            }
          }

          button {
            width: 15px;
            height: 15px;
            font-size: 0;
            border-radius: 50%;
            border: none;

            &:focus {
              outline: none;
            }
          }
        }

        li.slick-active {

          button {
            background: $blue;
          }
        }
      }

      .slick-slide {
        background: #222222;
        height: 300px;
        margin: 0 1.25rem;
        color: #ffffff;
        display: flex;
        flex-flow: row nowrap;

        @media (max-width: 575.98px) {
          padding: 0 0.6rem;
          border-radius: 5px;
          position: relative;
        }

        img {
          margin-right: 1.25rem;

          @media (max-width: 575.98px) {
            position: absolute;
            top: 1.25rem;
            right: 0;
            height: 60px;
            width: 60px;
            border-radius: 50%;
          }
        }

        .text-block {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            padding-right: 0.5rem;
          }
        }

        .name {
          font-size: 18px;
          font-weight: 500;
          color: $blue;
          margin: 0.6rem 0 1rem;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            margin: 0 0 0.6rem;
            font-size: 13px;
          }
        }

        .job {
          font-size: 10px;
          margin: 0 0 2rem;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            margin: 0 0 1rem;
          }
        }

        .text {
          font-size: 12px;
          line-height: 24px;
          margin: 0 0 1.25rem;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            margin: 0 0 0.6rem;
            line-height: 16px;
            font-size: 10px;
          }
        }
      }

      .reviews__slide1 {
        .stars {
          background: url("../img/Stars01.png") center center no-repeat;
          height: 15px;
          width: 94px;
          margin-bottom: 0.6rem;
        }
      }

      .reviews__slide2 {
        .stars {
          background: url("../img/Stars02.png") center center no-repeat;
          height: 15px;
          width: 94px;
          margin-bottom: 0.6rem;
        }
      }

      .reviews__slide3 {
        .stars {
          background: url("../img/Stars01.png") center center no-repeat;
          height: 15px;
          width: 94px;
          margin-bottom: 0.6rem;
        }
      }
    }
  }

  .gallery {
    background: url("../img/bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 5.3rem;

    .slick-slider {
      a.prevButton {
        background: transparent;
        color: $blue;
        cursor: pointer;
        display: block;
        position: absolute;
        left: 0.3rem;
        top: calc(50% - 17px);
        font-size: 34px;
        z-index: 2;
      }

      a.nextButton {
        background: transparent;
        color: $blue;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0.3rem;
        top: calc(50% - 17px);
        font-size: 34px;
      }

      .slick-slide {
        margin: 0 0.3rem;
      }

      .slide1 {
        background: url("../img/gallery01.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 370px;
      }

      .slide2 {
        background: url("../img/gallery02.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 370px;
      }

      .slide3 {
        background: url("../img/gallery03.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 370px;
      }

      .slide4 {
        background: url("../img/gallery04.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 370px;
      }

      .slide5 {
        background: url("../img/gallery05.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 370px;
      }

      .slide6 {
        background: url("../img/gallery03.jpg") center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 370px;
      }
    }
  }

  .price {
    background: url("../img/bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 10rem;

    .price__subtitle {
      font-size: 18px;
      color: $blue;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 0 0 0.6rem;
    }

    .price__title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: #ffffff;
      position: relative;
      margin-bottom: 5.3rem;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: #e50118;
        margin: 1.6rem 0 0;
        left: calc(50% - 40px);
      }
    }

    .plan-block {
      border: 2px solid #161616;
      padding-top: 2.3rem;
      color: #ffffff;
      display: flex;
      flex-flow: column;
      transition: all 0.4s ease-in;
      margin-bottom: 5.3rem;

      &:hover {
        border: 2px solid $blue;

        .price__plan {
          background: #000;
          background: rgba(209, 0, 59, 1);
          background: -moz-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -webkit-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -o-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -ms-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: linear-gradient(to right, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1003b', endColorstr='#e6010c', GradientType=1);
        }

        .price__button {
          background: rgba(209, 0, 59, 1);
          background: -moz-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -webkit-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -o-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -ms-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: linear-gradient(to right, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1003b', endColorstr='#e6010c', GradientType=1);
          border: none;
        }
      }

      .price__sum {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 2rem;

        span {
          font-size: 34px;
          font-weight: 700;
        }
      }

      .price__plan {
        display: block;
        line-height: 50px;
        font-size: 18px;
        width: 100%;
        background: #161616;
        margin-bottom: 2rem;
      }

      .price__features {
        list-style: none;
        padding: 0;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 1.25rem;

        .price__item {
          margin-bottom: 0.3rem;
        }
      }

      .price__button {
        height: 50px;
        width: 140px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 2px solid $black;
        align-self: center;
        margin-bottom: 2.6rem;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #ffffff;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .blog {
    padding-top: 5rem;

    .blog__subtitle {
      font-size: 18px;
      color: $blue;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 0 0 0.6rem;
    }

    .blog__title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: #ffffff;
      position: relative;
      margin-bottom: 5.3rem;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 80px;
        height: 2px;
        background: #e50118;
        margin: 1.6rem 0 0;
        left: calc(50% - 40px);
      }
    }

    .card-deck {
      margin-bottom: 5rem;
    }

    .card {
      border: 2px solid #222222;
      color: #ffffff;
      background: transparent;
      transition: all 0.4s ease-in;
      border-radius: 0;

      @media (min-width: 576px) and (max-width: 991.98px) {
        margin-bottom: 0.6rem;
      }

      img {
        border-radius: 0;
      }

      &:hover {
        border: 2px solid $blue;
      }

      .card-body {
        padding-top: 2.5rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }

      .card-subtitle {
        font-size: 12px;
        color: #f80759;
        font-weight: 700;
      }

      .card-title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
      }

      .card-text {
        font-size: 14px;
        line-height: 24px;
      }

      .card-link {
        font-size: 14px;
        font-weight: 700;
        color: #f80759;
        transition: all 0.8s ease-in;

        &:hover {
          text-decoration: none;

          &:after {
            content: ". . .";
            color: #f80759;
            padding: 0 0 0 4px;
            letter-spacing: 0.1em;
          }
        }
      }

      .card-footer {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        color: $blue;
        font-size: 14px;
        font-weight: 500;

        p {
          margin: 0;
        }
      }
    }
  }

  .contact {
    background: url("../img/bg-contact.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;
    padding: 5.3rem 0;

    .text-block {
      display: flex;
      flex-flow: column nowrap;
    }

    .contact__subtitle {
      font-size: 18px;
      color: $blue;
      letter-spacing: .05em;
      font-weight: 400;
      margin: 0 0 0.6rem;
    }

    .contact__title {
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;
      color: #ffffff;
      margin-bottom: 4.4rem;
    }

    .contact__text {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 4.75rem;
    }

    .contact__button {
      height: 50px;
      width: 200px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #ffffff;
      align-self: center;
      border-radius: 5px;
      background: rgba(209, 0, 59, 1);
      background: -moz-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: -webkit-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: -o-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: -ms-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      background: linear-gradient(to right, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1003b', endColorstr='#e6010c', GradientType=1);
      border: none;

      &:hover {
        text-decoration: none;
        border: 2px solid $blue;
      }
    }
  }

  .footer {
    padding: 5rem 0 0 0;
    color: #ffffff;
    background: url("../img/bg.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    .card {
      background: transparent;
      border-radius: 0;
      border: none;
    }

    .card-body {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    .logo {
      font-size: 36px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 1.5rem;

      @media (max-width: 767.98px) {
        font-size: 30px;
      }

      &:hover {
        color: #ffffff;
        text-decoration: none;
      }

      span {
        color: $red;
      }
    }

    .footer__text {
      font-size: 16px;
      line-height: 30px;
      color: #bdc3c7;
      margin-bottom: 1.6rem;
    }

    .social-icons__title {
      font-size: 20px;
      color: #bdc3c7;
      margin-bottom: 1rem;
    }

    .social-icons {

      a {
        color: #bdc3c7;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid #555555;
        margin-right: 0.7rem;
        transition: all 0.3s ease-in;

        &:hover {
          text-decoration: none;
          border: 1px solid $red;
        }
      }
    }

    .quick-contacts__title {
      font-size: 24px;
      font-weight: 700;
      margin-top: 0.5rem;
    }

    .contacts__block {

      div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.4s ease-in;

        &:hover {

          a {
            text-decoration: none;
            color: $blue;
          }
        }
      }

      a {
        font-size: 14px;
        line-height: 24px;
        color: #bdc3c7;
      }
    }

    .fas {
      color: $blue;
      margin-right: 1rem;
    }

    .tags__title {
      font-size: 24px;
      font-weight: 700;
      margin-top: 0.5rem;
    }

    .tags__block {
      display: flex;
      flex-flow: row wrap;

      a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: auto;
        padding: 0 1rem;
        font-size: 15px;
        border: 1px solid #555555;
        color: #ffffff;
        margin: 0 0.5rem 0.5rem 0;

        &:hover {
          text-decoration: none;
          background: rgba(209, 0, 59, 1);
          background: -moz-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -webkit-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -o-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: -ms-linear-gradient(left, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          background: linear-gradient(to right, rgba(209, 0, 59, 1) 0%, rgba(230, 1, 12, 1) 49%, rgba(230, 1, 12, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1003b', endColorstr='#e6010c', GradientType=1);
          border: 1px solid rgba(209, 0, 59, 1);
        }
      }
    }
  }
}